html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}


.align_vert{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.align_hor{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}



/* header */
.header_main p{
  color: white;
  text-align: center;
  font-size: 13px;
}

.header_main img{
  height: 50px;
}

.header_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: #0088D2;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding-right: 100px;
  padding-left: 40px;
}

.buttons{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.language1{
  margin-right: 80px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.line_header{
  width: 2px;
  border-left: 2px solid white;
}
/* header */




/* footer */
.cont{
  margin-left: 40px;
  margin-right: 40px;
}

.footer_main p{
  text-align: center;
  color: #8C8C8E;
}

.footer_main,
.push {
  height: 50px;
}

.footer_main{
  height: 77px;
  width: 100%;
  margin-right: 0px!important;
  background-color: #F7F7F9;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: fixed; */
  
  /* margin-top: 80px; */
}

.refs{
  color: grey;
  filter: grayscale(50);
}

.line_footer{
  width:2px;
  border-left: 2px solid #BEBEC0;
}

.language2{
  width: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* footer */





/* main */
.main_full{
  min-height: 100%;
  margin: 0 auto ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 80px;
}

.container{
  padding-right: 100px;
  padding-left: 100px; 
}
/* main1 */

.paint_grey{
  color: #9E9E9E;
}

.invoice{
  width: 950px;
  height: 270px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



.sum{
  border-top: 2px solid #EAEAEA;
  margin-top: 20px;
  padding-top: -14px
}
/* main1 */


/* main2 */
.large p{
  font-size: 25px;
  font-weight: bolder;
  color: #1EA3ED;
}



.pay_method{
  width: 100%;
}


.methods{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
}

.block{
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  background-color: #FBFBFB;
  /* margin-right: 15px; */
  max-width: 130px;
  max-height: 130px;
  width: 100%;
  padding: 30px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 7px;
}

.block p{
  color: #1EA3ED;
  font-size: 15px;
}

.block_last{
  margin-right: -40px;
}

.block img{
  width: 100%;
  max-width: 90px;
  max-height: 90px;
}

.block:hover{
  box-shadow: 0 20px 17px -5px rgba(170, 159, 159, 0.5);
  transition: 0.1s;
}



.extra{
  display: none;
}
/* media  */




@media screen and (max-width: 1050px ){
  .block{
    width: 110px;
    height: 110px;
    padding: 10px;
    padding-bottom: 2px;
    }
  
    .block img{
      width: 80px;
      height: 80px;
    }
  
    .methods{
      margin-top: 10px;
      width: 700px;
    }
    
    .pay_method{
      width: 700px;
      margin-bottom: 120px;
    }
  
    .invoice{
      height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 700px;
    }
}

@media screen and (max-width: 800px ){

  .invoice{
    width: 290px;
  }
  
  .methods{
    margin-top: 10px;
    width: 330px;
  }
  
  .pay_method{
    width: 330px;
    margin-bottom: 120px;
  }
  
  .block{
    width: 70px;
    height: 70px;
    padding: 10px;
  }
  
  .block img{
    width: 40px;
    height: 40px;
  }

  /* extra */
  
  .destroy{
    display: none;
  }
  .extra{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
  }
  /* extra */
  
  .block_last{
    margin-right: 0px;
  }
  
  /* header */
  .header_main p{
    font-size: 10px;;
  }
  
  .header_main img{
    width: 100px;
    height: 35px;
  }
  
  .header_main{
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .buttons{
    height: 20px;
  }
  
  .language1{
    width: 120px;
    margin-left: 0px;
    margin-right: 20px;
  }
  /* footer */
  .footer_main{
    width: 100%;
    display: flex;
  }
  
  .footer_main img{
    width: 50px;
    height: 20px;
  }
  
  .footer_main p{
    font-size: 10px;
  }
  
  .cont{
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .language2{
    height: 20px;
    width: 120px;
  }
}

@media screen and (max-width: 374px ){
  
  .header_main{
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .footer_main img{
    width: 40px;
    height: 18px;
  }

  .language2{
    margin-right: -10px;
  }

  .invoice{
    width: 270px!important;
  }

  .pay_method{
    width: 300px!important;
  }

  .methods{
    width: 300px;
  }

  .block{
    width: 67px;
    height: 67px;
    padding: 3px;
    text-align: center;
  }
  
  .block img{
    width: 34px;
    height: 34px;
  }

  .block_last{
    margin-left: 5px;
  }

}

@media screen and (max-height: 900px ){
  .block{
  max-width: 130px;
  max-height: 130px;
  padding: 15px;
  padding-bottom: 2px;
  }

  .block img{
    max-width: 80px;
    max-height: 80px;
  }

  .block p{
    font-size: 10px;
  }


  .invoice{
    height: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .large p{
    font-size: 16px;
  }
  .text_small p{
    font-size: 12px;
  } 
}



/* @media screen and (max-width: 1000px ){
    .block{
    max-width: 110px;
    max-height: 110px;
    padding: 15px;
    padding-bottom: 2px;
    }
    .block img{
      max-width: 70px;
      max-height: 70px;
    }
    .block p{
      font-size: 10px;
    }
  
  
    .invoice{
      height: 220px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
    }
    .large p{
      font-size: 16px;
    }
    .text_small p{
      font-size: 12px;
    }

} */
 

